* {
font-family: 'Source Sans Pro', sans-serif !important; 
}
h1 {
    font-size: 45pt;
    font-weight: bolder;
}
p {
    font-size: 24pt;
    font-weight: 600;
}
#helper-text {
  font-size: 24pt;
}
body {
    text-align: left;
    margin-top: 15px;
    /* background-image: 'gifs/snow.gif'; */
    /* background: black; */
}
#img {
  width: 75%;
  /* height: 80%; */
}
#edText {
  font-size: 18pt;
  font-weight: 600;
}
/* #canvas {
width: 100% !important;
height: auto;
} */
#canvas.border.canvasbox {
  width: 100% !important;
}
/* GETS RID OF TINY WEIRD VIDEO */
#myvideo {
  display: none;
}

/* GRID STYLING AND LAYOUT */
#feedback { 
  grid-area: feedback; 
  height: 5vh;
  /* margin-bottom: 10vh; */
  margin-top: -20vh;
  z-index: 10000;
}
button {
  width: 50px;
  height: 25px;
  margin-left: 50px;
  border-radius: 15px !important;
  background: black;
  color: white;
}
#next-button {
  margin-left: 50px;
  padding-top: 8px;
}
#header { 
  grid-area: header; 
  display: flex;
  flex-direction: row;
  /* margin-top: -10vh; */
  height: 10vh;
  margin-bottom: 15vh;
}

#edMedia { 
  grid-area: media; 
  margin-top: -20vh;
  margin-bottom: 5vh;
  text-align: center;
  background: black;
}
#edText { 
  grid-area: edText; 
  height: 15vh;
  margin-top: -5vh;
}
#interaction { 
  grid-area: interaction; 
  height: 30vh;
  margin-bottom: 5vh;
}
#progress { 
  grid-area: progress; 
  display: flex;
  flex-direction: row;
  height: 5vh;
  margin-top: -16vh;
  /* background: blue; */
}
#progress> div> {
  /* height: 10vh */
  width: 33%;
}
#progress #eccProg, #precProg, #obProg {
  width: 33%;
  /* height: 30%; */
}
#progress> div> img {
  width: 75%;
  /* height: 99%; */
}

#text-over-video {
  display: none;
}

/* this shows text over the video */
#text-over-video.showing {
  display: block;
  position: absolute;
  top: 10px;
  background-color: white;
  width: 650px;
  height: 500px;
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header interaction interaction interaction'
    'media media media interaction interaction interaction'
    'edText edText edText feedback feedback feedback'
    'edText edText edText progress progress progress';
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  justify-content: space-around;
  height: 100vh;
}

.grid-container> div {
  /* background-color: tan; */
  text-align: left;
  font-size: 30px;
  width: 45vw;
  /* margin: 1%; */
}
/* EX FOR TARGETING JUST HOME STUFF */
.grid-container-home #header { 
  grid-area: header; 
  margin-top: unset;
  color: red;
  height: 10vh;
  margin-bottom: unset;
}
.grid-container-home {
  display: grid;
  /* sanity check */
  /* background-color: red; */
  grid-template-areas:
    'header header header interaction interaction interaction'
    'edText edText edText interaction interaction interaction';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  /* justify-content: space-around; */
  height: 100vh;
  /* width: 100vw; */
}

.grid-container-home> div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 30px;
  width: 45vw;
}

#helper-text {
  background-color: black;
  color: white;
}
